*{
  margin: 0px;
  padding: 0px;
  font-family: hubballi;
}
body{
  background-image:url('https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  overflow: hidden;
  margin: 30px 35%;
}
.overlay{

}
.pfp{
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.card{
  color: white;
  min-width: 250px;
  height: 80vh;
  border-radius: 10px;
  background-image: linear-gradient(to top right, rgba(239, 184, 12, .2), rgba(255, 255, 255, 0.05),  rgba(12, 185, 239, 0.2));
  /*background-color: rgba(255, 255, 255, 0.03);*/
  box-shadow: 1px 1px 10px silver;
  padding: 20px;
}
/*
@media screen and (max-width: 900px) {
  body{
    margin: 20px;
  }
  .card{
    width: 100%;
    padding: 10px;
  }
}
*/
h1{
  font-weight: lighter;
  font-size: 40px;
}
p{
  font-size: 30px;
}
.button{
  padding: 15px;
  margin: 10px 0px;
  border-radius: 7px;
  border-bottom: 1px solid rgba(239, 184, 12, .7);
  border-left: 1px solid rgba(12, 185, 239, .7);
  border-right: 1px solid rgba(239, 184, 12, 1);
  border-top: 1px solid rgba(12, 185, 239, 1);
  box-shadow: 1px 1px 5px silver;
  transition: 0.3s;
}
.button:hover{
  background-color:rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 10px silver;
  transform: scale(1.05);
}
.small{
  height: 20px;
  width: 20px;
  margin: 0px 10px 0px 0px;
}
